h1{

    width: 50%;
    background:paleturquoise;
    color: black;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

p{
     background: paleturquoise;
     width: 50%;
     height: 110px;
     border: 3px dotted black;
     padding: 9px;
     text-align: justify;
     



}
.res{

background: rgb(215, 230, 173);
border: 2px dashed lightgray;
width: 20%;
margin: 5px;
display: inline-block;

}
#sajek{
    width: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background: purple;
    
}
p5{
    color: blue;
}